/*ESTILOS GENERALES*/

*{
    padding: 0px;
    margin: 0px;
    background-color: #fdf5e3;
    font-family: 'Space Grotesk', sans-serif;
}



#content{
    position: static;
    
    background-color: #fdf5e3;
}

a{
    color: black;
    text-decoration: none;
}

a:visited{
    color: rgb(44, 44, 44);
}

a:hover{
    color: rgb(218, 211, 211);
}

/*ESTILOS HEADER*/

header{
    position: static;
width: 1768px;
height: 120px;
margin-top: 2%;
margin-left: 3%;
margin-right: 3%;
margin-bottom: 1%;
border-top: 2px solid black;
border-bottom: 2px solid black;

}

header h1 a{
    float: left;
    font-style: normal;
    font-weight: 900;
    font-size: 64.1667px;
    line-height: 78px;
    margin-top: 21px;
    
}

header h1 a span b{
    font-weight:500;
    
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    
}

nav ul li {
    float: right;
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    padding-right: 50px;
    padding-left: 50px;
    border-left: 2px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 12px;
    margin-bottom: 9px;
}

nav ul li:hover{
    background-color: black;
    color: white;
}

nav ul li:hover a{
    background-color: black;
    color: white;

}

nav ul li a{
    margin-top: 0px;
    display: block;
    text-align: center;
}



/*FIN HEADER*/

/*COMIENZO FOOTER*/

footer{
    width: 1747px;
height: 60px;
margin-left: 3%;
margin-right: 3%;
margin-bottom: 1%;
font-style: normal;
font-weight: 275;
font-size: 18px;
line-height: 22px;
border-top: 2px solid black;
border-bottom: 2px solid black;
}

#copy{
    float: left;
    margin-top: 18px;
    padding-right: 283px;
    border-right: 2px solid black;
    
}

#enlaces{
    float:right;
    margin-top: 18px;
}

#enlaces p a{
    padding-right: 20px;
}


/*COMIENZO CONTENIDO*/

#content{
    position: static;
    margin: 2% 4% 2%;
    width: 1760px;
    height: 615px;
    
}

#contact{
    font-weight: bold;
font-size: 47.5px;
line-height: 58px;
width: 315px;
    float: left;
    margin-left: 55px;
}

/*FORMULARIO CONTACTO*/

form {
    margin: 20px auto;
    width: 400px;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    border-radius:1px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 12em;
    text-align: left;
  }
  
  .button {
    padding-left: 90px;
  }
  
  button {
    margin-left: .5em;
	border-radius:17px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	font-size:17px;
	padding:12px 24px;
	text-decoration:none;
	
  }
  button:hover{
      background-color: #000;
      color: white;
  }

  #sexo{
      margin-top: 5px;
  }
  #hombre{
      width: 25px;
  }
  #mujer{
      width: 25px;
  }
  #edad{
    margin-top: 5px;
    margin-bottom: 10px;
}
#mas18{
    width: 25px;
}
#menor18{
    width: 25px;
}