/*FONTS*/

@font-face {
    font-family: "flexa";
    src: url("fonts/GT-Flexa-Mono-Regular-Trial.otf") format("otf");
}

@font-face {
    font-family: "icons";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot#iefix) format("embedded-opentype"),
        url(fonts/websymbols-regular-webfont.woff) format("wof"),
        url(fonts/websymbols-regular-webfont.ttf) format("truetype"),
        url(fonts/websymbols-regular-webfont.svg) format("svg");
    font-weight: normal;
    font-style: normal;
}

/*ESTILOS GENERALES*/

*{
    padding: 0px;
    margin: 0px;
    background-color: #fdf5e3;
    font-family: "flexa";
}

a{
    color: black;
    text-decoration: none;
}

a:visited{
    color: rgb(44, 44, 44);
}

a:hover{
    color: white;
}